<!DOCTYPE html>
<html>
    <head>
        
            <link
            rel='stylesheet'
            type='text/css'
            href='style.css'/>
        

        
            <script
            type='text/javascript'
            src='main.js'></script>
        

        
	
	<meta charset='utf-8'/>
    </head>
    <body>
        <div id='content'>
            <nav class='navbar' style='background-color: black;'>
    <ul>
        
            <li><a style='color: white;' href='/'>123</a></li>
        
    </ul>
</nav>
            <div id="mainSlider">
    
        <img data-src="https://unsplash.it/g/1080/720?ver=0&random" alt="">
    
        <img data-src="https://unsplash.it/g/1080/720?ver=1&random" alt="">
    
        <img data-src="https://unsplash.it/g/1080/720?ver=2&random" alt="">
    
        <img data-src="https://unsplash.it/g/1080/720?ver=3&random" alt="">
    
</div>
            
        </div>
    </body>
</html>