<!DOCTYPE html>
<html>
    <head>
        {% for sheet in stylesheets %}
            <link
            rel='stylesheet'
            type='text/css'
            href='{{ sheet }}'/>
        {% endfor %}

        {% for script in scripts %}
            <script
            type='text/javascript'
            src='{{ script }}'></script>
        {% endfor %}

        {{ head }}
	
        <meta charset='utf-8'/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id='content'>
            {{ content_header }}
            {{ content }}
            {{ content_footer }}
        </div>
    </body>
</html>
